body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:760px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1280px;
  height:760px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:481px;
}
#u2 {
  position:absolute;
  left:470px;
  top:150px;
  width:360px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  word-wrap:break-word;
}
